// Custom CSS here
.homepage {
  min-height: 100vh;
  display: flex;
  justify-content: center;
  flex-direction: column;
  margin: 0 auto;
  max-width: 750px;
}

a {
  font-weight: bold;

  &:hover {
    color: rgb(199, 45, 96);
  }
}

.section {
  padding: 1.5rem 2rem;
}

.post-title {
  margin-top: 0 !important;
}

.social-list {
  display: flex;
  gap: 2rem;
  & i {
    font-size: 1.25rem;
  }
}

a.navbar-item:hover,
.footer {
  background: transparent !important;
}

.page-list,
.social-list,
#site-navbar.navbar,
#social-nav.navbar {
  justify-content: center;
}

.content p {
  text-align: justify;
}

// Tables
table {
  margin: 0 auto;
  border-collapse: collapse;
  max-width: 100%;
}

table thead th,
table tfoot th {
  background: rgba(0, 0, 0, 0.05);
}

table th,
table td {
  padding: 4px !important;
}

.navbars {
  display: flex;
  margin: 1rem auto !important;
}

.navbars-brand {
  // background: palegoldenrod !important;
  display: flex;
  gap: 1.5rem;
  font-size: 18px;
  min-height: auto;
  // display: inline-block !important;
  // width: 49%;
}

.navbars-links {
  // display: flex !important;
}

.navbars-menu {
  // background: palegreen !important;
  margin-left: auto;
  display: flex;
  gap: 1.5rem;
  font-size: 20px;
  // display: inline-block !important;
  // width: 49%;
}

.navbars-icons {
  // display: flex !important;
  // margin-left: auto;
  // flex-wrap: wrap;
}

.pfp {
  border-radius: 50%;
  filter: grayscale(1);
}

.site-title {
  font-size: 20px;
}