// Custom CSS here
a {
  color: palevioletred;
  font-weight: bold;
}
a:hover {
  // color: peru !important;
  text-decoration: underline;
}
.section {
  padding: 1.5rem 2rem;
}
ul.social-list {
  justify-content: center;
}
.post-title {
  margin-top: 0 !important;
}
.social-list {
  display: flex;
  gap: 2rem;
  & i {
    font-size: 1.25rem;
  }
}
.footer {
  background: inherit;
}
.page-list,
#site-navbar.navbar,
#social-nav.navbar {
  justify-content: center;
}
.navbar-thing {
  align-items: center;
}
