<header id="header" class="section">
  <div class="container is-max-desktop">
    <nav class="navbar">
      <div class="navbars-brand">
        <a href="{{ config.base_url}}" class="">
          <h1 class="title navbar-item">
            {% if config.title %}
            {{ config.title }}
            {% else %}
            Site Title
            {% endif %}
          </h1>
        </a>
      </div>
      <div class="navbar-menu">
        <ul class="navbar-end">
          {% for link in config.extra.internalLinks %}
          <a class="navbar-item" href="{{ get_url(path=link.url )}}/" aria-label="{{ link.name }}">{{ link.name }}</a>
          {% endfor %}
          </li>
        </ul>
      </div>
    </nav>
  </div>
</header>