{% if section.pages %}
{% for page in section.pages %}
<hr>
<article class="post">
  <time itemprop="datePublished" datetime="{{ page.date | safe }}">{{ page.date | date(format="%B %e, %Y") | safe }} •
    {{
    page.reading_time }} minutes</time>
  <a href="{{ page.permalink }}">
    <h2 class="title is-4">{{ page.title | safe }}</h2>
  </a>
  {% if page.description %}
  <p>{{ page.description | safe }}</p>
  {% endif %}
  <a href="{{ page.permalink | safe }}">Continue reading…</a>
</article>
{% endfor %}
{% endif %}