<nav id="social-nav" class="navbar">
  <ul class="social-list">
    <li>
      <a href="https://forgetfulnotes.com/" aria-label="Digital Garden" target="_blank">
        <i class="fa-solid fa-seedling"></i>
      </a>
    </li>
    <li>
      <a href="https://github.com/semanticdata/zola-bulma/" aria-label="GitHub" target="_blank">
        <i class="fa-brands fa-github"></i>
      </a>
    </li>
    <li>
      <a href="mailto:contact@miguelpimentel.do" aria-label="Email" target="_blank" class="navbars-item">
        <i class="fa-solid fa-envelope"></i>
      </a>
    </li>
  </ul>
</nav>