<nav id="social-nav" class="navbar">
  <ul class="social-list">
    <li><a rel="me" href="https://miguelpimentel.do/" aria-label="Blog" target="_blank"><i
          class="fa-solid fa-blog"></i></a></li>
    <li>
      <a href="https://forgetfulnotes.com/" aria-label="Digital Garden" target="_blank">
        <i class="fa-solid fa-seedling"></i>
      </a>
    </li>
    <li>
      <a href="https://github.com/semanticdata/" aria-label="GitHub" target="_blank">
        <i class="fa-brands fa-github"></i>
      </a>
    </li>
    <li>
      <a rel="me" href="https://instagram.com/miguelapv" aria-label="Instagram" target="_blank">
        <i class="fa-brands fa-instagram"></i>
      </a>
    </li>
    <li>
      <a href="https://www.linkedin.com/in/miguelpimentel29/" aria-label="LinkedIn" target="_blank">
        <i class="fa-brands fa-linkedin"></i>
      </a>
    </li>
  </ul>
</nav>