{# {% extends "base.html" %} #}

<!-- Layout for the homepage. -->
{# {% block content %}
{{ section.content | safe }}
{% endblock content %} #}

<!DOCTYPE html>
<html lang="en">

<head>
  <meta charset="UTF-8">
  <meta name="viewport" content="width=device-width, initial-scale=1">
  <title>Home</title>
  <meta name="description" itemprop="about" content="{{ config.description | safe }}">
  {#
  <link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/bulma@0.9.4/css/bulma.min.css"> #}
  <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/6.5.1/css/all.min.css" />
  <link rel="stylesheet" href="{{ get_url(path='styles.css') }}">
</head>

<body>
  <div class="homepage section">

    <header>
        <div class="navbar-brand">
          <img class="pfp" src="./pfp-2.png" alt="Profile Picture" width="100px" />
          <h1 class="title">
            <a href="{{ config.base_url}}" class="navbar-item">
              {% if config.title %}
              {{ config.title }}
              {% else %}
              Site Title
              {% endif %}
            </a>
          </h1>
          {% if config.description %}
          <h2 class="subtitle is-6">{{ config.description }}</h2>
          {% endif %}
        </div>

      <nav class="navbars">
        <div class="navbars-brand navbars-links">
          {# <ul class="navbars-links"> #}
            {% for link in config.extra.internalLinks %}
            {# <li> #}
              <a class="navbars-item" href="{{ get_url(path=link.url )}}/" aria-label="{{ link.name }}">{{ link.name
                }}</a>
            {# </li> #}
            {% endfor %}
          {# </ul> #}
        </div>
        <div class="navbars-menu navbars-icons">
          {# <ul class="navbars-icons"> #}
            {# <li> #}
              <a rel="me" href="https://miguelpimentel.do/" aria-label="Blog" target="_blank" class="navbars-item"><i
                  class="fa-solid fa-blog"></i></a>
                {# </li> #}
            {# <li> #}
              <a href="https://forgetfulnotes.com/" aria-label="Digital Garden" target="_blank" class="navbars-item">
                <i class="fa-solid fa-seedling"></i>
              </a>
            {# </li> #}
            {# <li> #}
              <a href="https://github.com/semanticdata/" aria-label="GitHub" target="_blank" class="navbars-item">
                <i class="fa-brands fa-github"></i>
              </a>
            {# </li> #}
            {# <li> #}
              <a rel="me" href="https://instagram.com/miguelapv" aria-label="Instagram" target="_blank"
                class="navbars-item">
                <i class="fa-brands fa-instagram"></i>
              </a>
            {# </li> #}
            {# <li> #}
              <a href="https://www.linkedin.com/in/miguelpimentel29/" aria-label="LinkedIn" target="_blank"
                class="navbars-item">
                <i class="fa-brands fa-linkedin"></i>
              </a>
            {# </li> #}
          {# </ul> #}

        </div>
      </nav>
    </header>

    <main class="content">
      {% if section.content %}
      {{ section.content | safe }}
      {% endif %}
    </main>

    <footer class="footer">
      {% include "partials/social-links.html" %}
    </footer>

  </div>
</body>

</html>