{# {% extends "base.html" %} #}

<!-- Layout for the homepage. -->
{# {% block content %}
{{ section.content | safe }}
{% endblock content %} #}

<!DOCTYPE html>
<html lang="en">

<head>
  <meta charset="UTF-8">
  <meta name="viewport" content="width=device-width, initial-scale=1">
  <title>Home</title>
  <meta name="description" itemprop="about" content="{{ config.description | safe }}">
  {#
  <link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/bulma@0.9.4/css/bulma.min.css"> #}
  <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/6.5.1/css/all.min.css" />
  <link rel="stylesheet" href="{{ get_url(path='styles.css') }}">
</head>

<body>
  <div class="homepage section">

    <header>
      <div class="navbar-brand">
        <img class="pfp" src="./387-100x100.jpg" alt="Profile Picture" height="75px" width="75px" />
        <p>
        <h1 class="site-title">
          <a href="{{ config.base_url}}" class="navbar-item">
            {% if config.title %}
            {{ config.title }}
            {% else %}
            Site Title
            {% endif %}
          </a>
        </h1><br>
        A simple and clean Zola theme.
        </p>
        {# {% if config.description %}
        <h2 class="subtitle is-6">{{ config.description }}</h2>
        {% endif %} #}
      </div>

      <nav class="navbars">
        <div class="navbars-brand navbars-links">
          {% for link in config.extra.internalLinks %}
          <a class="navbars-item" href="{{ get_url(path=link.url )}}/" aria-label="{{ link.name }}">{{ link.name
            }}</a>
          {% endfor %}
        </div>

        <div class="navbars-menu navbars-icons">
          {# <a rel="me" href="https://miguelpimentel.do/" aria-label="Blog" target="_blank" class="navbars-item"><i
              class="fa-solid fa-blog"></i></a> #}
          <a href="https://forgetfulnotes.com/" aria-label="Digital Garden" target="_blank" class="navbars-item">
            {# <img src="tree-plant-icon.svg" alt="digital garden" width="20px" height="20px" /> #}
            <i class="fa-solid fa-seedling"></i>
          </a>
          <a href="https://github.com/semanticdata/zola-mix/" aria-label="GitHub" target="_blank" class="navbars-item">
            {# <img src="github-icon.svg" alt="digital garden" width="20px" height="20px" /> #}
            <i class="fa-brands fa-github"></i>
          </a>
          <a href="mailto:contact@miguelpimentel.do" aria-label="Email" target="_blank" class="navbars-item">
            {# <img src="envelope-line-icon.svg" alt="digital garden" width="20px" height="20px" /> #}
            <i class="fa-solid fa-envelope"></i>
          </a>
          {# <a rel="me" href="https://instagram.com/miguelapv" aria-label="Instagram" target="_blank"
            class="navbars-item">
            <i class="fa-brands fa-instagram"></i>
          </a> #}
          {# <a href="https://www.linkedin.com/in/miguelpimentel29/" aria-label="LinkedIn" target="_blank"
            class="navbars-item">
            <i class="fa-brands fa-linkedin"></i>
          </a> #}
        </div>

      </nav>
    </header>

    <main class="content">
      {% if section.content %}
      {{ section.content | safe }}
      {% endif %}
    </main>

    {# <footer class="footer">
      {% include "partials/social-links.html" %}
    </footer> #}

  </div>
</body>

</html>